[submodule "software/fpga/migen"]
	path = software/fpga/migen
	url = https://github.com/m-labs/migen.git
[submodule "software/fpga/misoc"]
	path = software/fpga/misoc
	url = https://github.com/m-labs/misoc
