*.html
*.map
*.ncd
*_map.*
*_par.*
*_pad.*
*.xml
*~
*.xrpt
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.cmd
*.log
xst
iseconfig
ipcore_dir/_xmsgs
ipcore_dir/*.tcl
ipcore_dir/tmp
_ngo
_xmsgs
