NET led1 LOC = P57  | IOSTANDARD = "LVCMOS33";
NET led2 LOC = P58  | IOSTANDARD = "LVCMOS33";
NET led3 LOC = P59  | IOSTANDARD = "LVCMOS33";
//NET CLK LOC = P51;
NET CLK LOC = P94 | IOSTANDARD = "LVCMOS33";
NET SW1 LOC = P67 | IOSTANDARD = "LVCMOS33";

NET ULPI_D<7> LOC = P112 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<6> LOC = P114 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<5> LOC = P115 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<4> LOC = P116 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<3> LOC = P117 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<2> LOC = P118 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<1> LOC = P119 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<0> LOC = P120 | IOSTANDARD = "LVCMOS33";
NET ULPI_RST LOC = P127 | IOSTANDARD = "LVCMOS33";
NET ULPI_STP LOC = P126 | IOSTANDARD = "LVCMOS33";
NET ULPI_DIR LOC = P124 | IOSTANDARD = "LVCMOS33";
NET ULPI_CLK LOC = P123 | IOSTANDARD = "LVCMOS33" | PULLDOWN;
NET ULPI_NXT LOC = P121 | IOSTANDARD = "LVCMOS33";

NET S2 LOC = P102 | IOSTANDARD = "LVCMOS33";

// unused FTDI signals
NET CCLK LOC = P70;
NET M0 LOC = P69;
NET D0 LOC = P65;
NET CSI_B LOC = P64;
NET D1 LOC = P62;
NET D2 LOC = P61;
NET M1 LOC = P60;
NET RAM_CKE LOC = P56;
NET ACBUS0 LOC = P55;
NET CLKOUT LOC = P51;
NET OSCO_IN LOC = P50;
NET D7 LOC = P48;
NET RDWR_B LOC = P47;
NET D3 LOC = P46;
NET D4 LOC = P45;
NET D5 LOC = P44;
NET D6 LOC = P43;
NET ACBUS2 LOC = P41;
NET ACBUS3 LOC = P40;
NET INIT_B LOC = P39;
NET ACBUS6 LOC = P38;

// RAM signals
//NET RAM_A<0> = P7 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<1> = P8 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<2> = P9 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<3> = P10 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<4> = P35 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<5> = P34 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<6> = P33 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<7> = P32 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<8> = P30 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<9> = P29 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<10> = P6 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<11> = P27 | IOSTANDARD = "LVCMOS33";
//NET RAM_A<12> = P26 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<0> = P131 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<1> = P132 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<2> = P133 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<3> = P134 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<4> = P137 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<5> = P138 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<6> = P139 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<7> = P140 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<8> = P22 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<9> = P21 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<10> = P17 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<11> = P15 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<12> = P15 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<13> = P14 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<14> = P12 | IOSTANDARD = "LVCMOS33";
//NET RAM_D<15> = P11 | IOSTANDARD = "LVCMOS33";
//NET RAM_DQML = P141 | IOSTANDARD = "LVCMOS33";
//NET RAM_WE = P142 | IOSTANDARD = "LVCMOS33";
//NET RAM_CAS = P143 | IOSTANDARD = "LVCMOS33";
//NET RAM_RAS = P144 | IOSTANDARD = "LVCMOS33";
//NET RAM_CKE = P56 | IOSTANDARD = "LVCMOS33";
//NET RAM_CS0 = P1 | IOSTANDARD = "LVCMOS33";
//NET RAM_BA<0> = P2 | IOSTANDARD = "LVCMOS33";
//NET RAM_BA<1> = P5 | IOSTANDARD = "LVCMOS33";
//NET RAM_DQMH = P23 | IOSTANDARD = "LVCMOS33";
//NET RAM_CLK = P24 | IOSTANDARD = "LVCMOS33";
