NET led1 LOC = P57  | IOSTANDARD = "LVCMOS33";
NET led2 LOC = P58  | IOSTANDARD = "LVCMOS33";
NET led3 LOC = P59  | IOSTANDARD = "LVCMOS33";
//NET CLK LOC = P51;
NET CLK LOC = P94 | IOSTANDARD = "LVCMOS33";
NET SW1 LOC = P67 | IOSTANDARD = "LVCMOS33";

NET ULPI_D<7> LOC = P112 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<6> LOC = P114 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<5> LOC = P115 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<4> LOC = P116 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<3> LOC = P117 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<2> LOC = P118 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<1> LOC = P119 | IOSTANDARD = "LVCMOS33";
NET ULPI_D<0> LOC = P120 | IOSTANDARD = "LVCMOS33";
NET ULPI_RST LOC = P127 | IOSTANDARD = "LVCMOS33";
NET ULPI_STP LOC = P126 | IOSTANDARD = "LVCMOS33";
NET ULPI_DIR LOC = P124 | IOSTANDARD = "LVCMOS33";
NET ULPI_CLK LOC = P123 | IOSTANDARD = "LVCMOS33" | PULLDOWN;
NET ULPI_NXT LOC = P121 | IOSTANDARD = "LVCMOS33";

NET S2 LOC = P102 | IOSTANDARD = "LVCMOS33";

//NET CCLK LOC = P70;
//NET M0 LOC = P69;
//NET D0 LOC = P65;
//NET CSI_B LOC = P64;
//NET D1 LOC = P62;
//NET D2 LOC = P61;
//NET M1 LOC = P60;
//NET RAM_CKE LOC = P56;
//NET ACBUS0 LOC = P55;
//NET CLKOUT LOC = P51;
//NET OSCO_IN LOC = P50;
//NET D7 LOC = P48;
//NET RDWR_B LOC = P47;
//NET D3 LOC = P46;
//NET D4 LOC = P45;
//NET D5 LOC = P44;
//NET D6 LOC = P43;
//NET ACBUS2 LOC = P41;
//NET ACBUS3 LOC = P40;
//NET INIT_B LOC = P39;
//NET ACBUS6 LOC = P38;
